body{
    background-color: black;
    color: aliceblue;
  }
  div{
    width:50%;
    margin:25%;
    margin-top: 5%;
    
  }
  h1{
    text-transform:uppercase;
    text-align: center;
  }
  img{
    margin-top: 8px;
    width:100%;
    border:5px solid white;
  }
  p{
    text-align: center;
  }
  